body {
    color: var(--color-texto);
    margin: 0;
}

.servicios-titulo {
    padding: 2.5rem 0rem;
    font-size: x-large;
    text-align: center;
}

.servicios-titulo h2 {
    background-image: radial-gradient(ellipse 10rem 2px at center 35px, var(--color-amarillo) 0, transparent 100%);
}

.articles article p {
    padding: 1rem 5rem;
}

.articles article p {
    text-align: justify;
}

.articles .servicios-cursos .importante-leer {
    text-align: center;
}

.articles h1 {
    text-align: center;
    padding: 0.5rem 2.5rem;
    color: var(--color-rojo);
}

.articles h2 {
    text-align: center;
    padding: 1rem 5rem;
}

.servicios-clases h2 {
    color: var(--color-amarillo);
}

.servicios-cursos h2 {
    color: var(--color-durazno);
}

@media screen and (max-width: 768px){
    .side-bar{
        display: none;
    }
}
